/*--------------------------------------
Universal Styles
--------------------------------------*/

html {
    font-size: 16px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /*padding: 0 1.5rem;*/
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2rem;
    color: #000;
}

.h2-white {
    color: #fff;
}

h3 {
    font-size: 1.3125rem;
    color: #000;
}

.h3-white {
    color: #fff;
}



/*--------------------------------------
Navigation
--------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    background-color: #540008;
    color: #fff;
    border-bottom: 3px solid #cdb684;
    position: sticky;
    z-index: 10;
    top: 0;
}

/*Desktop Wrapper*/
header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

/*Mobile Wrapper*/
.mobile-wrapper {
    display: none;
    margin: 0 1.5rem;
}

/*Logo*/
.logo {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
}

.logo p {
    font-size: 1.5rem;
}

.gold-filter {
    filter: invert(100%) sepia(21%) saturate(5683%) hue-rotate(306deg) brightness(87%) contrast(84%);
}

/*Navigation Links*/
header strong {
    color: #cdb684;
}

.nav-links a {
    padding-left: 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/*Navigation Media Query for Desktop*/
@media only screen and (min-width:771px) {
    .nav-links a:hover {
        color: #cdb684;
    }
}

/*Navigation Media Query for Mobile*/
@media only screen and (min-width: 200px) and (max-width: 770px) {
    header .wrapper {
        display: none;
    }

    .mobile-wrapper {
        display: flex;
        flex-direction: column;
    }

    .mobile-wrapper .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .white-filter {
        filter: invert(100%) sepia(11%) saturate(7487%) hue-rotate(295deg) brightness(115%) contrast(115%);
    }
}

/*--------------------------------------
Learn something new
--------------------------------------*/

.learn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 1.5rem;
    background-color: rgba(240, 240, 240, 0.549);
}

.picture {
    padding: 0;
    margin-right: 0.75rem;
    width: 60%;
}

.picture img {
    width: 100%;
}

.learntextbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    text-align: left;
}

a#starthere {
    width: 80%;
    background-color: #cdb684;
    padding: 0.75rem 0;
    border-radius: 4rem;
    border: 3px solid #540008;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}


/*--------------------------------------
Footer
--------------------------------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #540008;
    border-top: 3px solid #cdb684;
}

.footer-text {
    color: #fff;
    margin-left: 1.5rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.footer-links a {
    padding-left: 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/*Navigation Media Query for Desktop*/
@media only screen and (min-width:771px) {
    .footer-links a:hover {
        color: #cdb684;
    }
}